* {
    box-sizing: border-box;
}
h1 {
    border-style: solid;
    /* border-width: 3px 10px 20px 40px; */
    border-top-left-radius: 15px;

}

.box {
    
    min-width: 200px;
    max-width: 50%;
    min-height: 200px;
    background-color: deeppink;
    /* margin: 10px; */
    padding: 10px;
    /* border: 10px solid black; */
    margin: 65px;

    /* outline-style: solid;
    outline-color: blue;
    outline-width: 40px;
    outline-offset: 15px; */

    
    border-radius: 50px;
}

.box:hover {
    outline: 10px solid red;
}